@tailwind utilities;
@tailwind base;
@tailwind screens;
body {
  @apply bg-timberwolf
    m-0
    p-0;
}

header {
  @apply hidden
    fixed
    min-h-screen
    h-full
    text-center
    bg-repeat
    z-10
    m-0
    w-1/4
    min-w-56;
  background-image: url(/pictures/WoodTexture_Background.jpg);
}
@media (screen(lg)) {
  header {
    @apply block;
  }
}
header .inner {
  @apply w-full
        max-h-full
        grid
        grid-cols-12;
}
header .inner__bottom-container {
  @apply col-span-12
            text-center
            justify-center;
}
header .inner__top-container {
  @apply col-span-12
            my-4;
}
header .inner__top-container--flex {
  @apply flex
                justify-center
                justify-items-center;
}
header .inner__logo {
  @apply w-4/5;
}

main {
  @apply m-0
    p-5
    text-center;
}

footer {
  @apply m-auto
    text-center;
}

.main-footer-group {
  @apply text-center
    absolute
    top-0
    right-0
    w-full
    pb-7;
}
@media (screen(lg)) {
  .main-footer-group {
    @apply w-3/4;
  }
}

.mobile-menu {
  @apply cursor-pointer
    block
    absolute
    p-10
    text-5xl
    text-taupe
    top-0
    left-0
    z-50;
}
@media (screen(lg)) {
  .mobile-menu {
    @apply hidden;
  }
}

.close-mobile-menu {
  @apply cursor-pointer
    hidden
    absolute
    p-2
    text-3xl
    text-red-600
    top-2
    z-40
    left-56
    bg-taupe;
  border-radius: 0 10px 10px 0;
}

.logo {
  @apply w-4/5
    max-w-72
    mx-auto
    mb-5;
}

hr {
  @apply border-smokeyBlack
    border
    w-4/5
    mx-auto;
}

.menu {
  @apply w-full
    flex
    flex-col;
}
.menu__items {
  @apply bg-timberwolf
        w-4/5
        rounded
        mx-auto
        my-2;
}

.display-menu {
  @apply w-full
    grid
    grid-cols-12
    mt-5
    mb-16;
}
.display-menu__two-column {
  @apply py-5
        col-span-12
        h-full
        relative
        flex
        flex-col
        justify-center
        justify-between
        mt-5;
}
@media (screen(lg)) {
  .display-menu__two-column {
    @apply col-span-6;
  }
}
.display-menu__three-column {
  @apply py-5
        col-span-4
        h-full
        relative
        flex
        flex-col
        justify-center
        justify-between
        mt-5;
}
.display-menu__Titles {
  @apply col-span-12
        py-3;
}
.display-menu__sizes {
  @apply grid
        grid-cols-12
        w-full
        py-3;
}
.display-menu__sizes--grid-10 {
  @apply grid
            grid-cols-10
            w-full
            py-3;
}
.display-menu__sizes--size-three-columns {
  @apply col-span-4;
}
.display-menu__sizes--size-two-columns {
  @apply col-span-6;
}
.display-menu__sizes--size-five-columns {
  @apply col-span-2;
}

p {
  @apply text-taupe
    font-fairplex
    text-base
    m-0
    no-underline
    normal-case
    not-italic;
}

h1 {
  @apply text-taupe
    font-fairplex
    text-4xl
    m-0
    no-underline
    normal-case
    not-italic;
}

h2 {
  @apply text-taupe
    font-fairplex
    text-3xl
    m-0
    no-underline
    normal-case
    not-italic;
}

h3 {
  @apply text-taupe
    font-fairplex
    text-2xl
    m-0
    no-underline
    normal-case
    not-italic;
}

h4 {
  @apply text-taupe
    font-fairplex
    text-xl
    m-0
    no-underline
    normal-case
    not-italic;
}

a {
  @apply text-taupe
    font-fairplex
    text-base
    m-0
    underline
    normal-case
    not-italic;
}
a:hover {
  @apply text-beaver;
}

@font-face {
  font-family: "Fairplex";
  src: url("/css/fonts/FairplexNarrow Regular.ttf");
}